html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
input {
    border: none;
}
.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.container-fluid {
    max-width: 100%;
    padding: 0px 30px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0px 15px;
    }
}
.title {
    color: $bg;
    font-size: 36px;
    line-height: 60px;
    @include f700;
    margin-bottom: 30px;
    text-align: center;
}
.rate-star {
    display: inline-block;
    margin-right: 11px;
}

.angle-right {
    position: relative;
    padding-left: 14px;
    &::before {
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 14px;
        color: $green;
    }
}