@media (max-width: 1900px) {
  .products-slider__inner {
    text-align: center;
  }
  .product__item-name {
    text-align: left;
  } 
}
@media (max-width: 1441px) {
  .products-slider__inner .product__item {
    max-width: 500px;
  }
}
@media (max-width: 1250px) {
  .products-slider__inner .product__item {
    max-width: 400px;
  }
  .tutorial__item {
    padding: 0 5px;
  }
}

@media (max-width: 1400px) {
  .products__inner-box .product__item {
    flex-basis: calc(33.3333% - 30px);
  }
}


@media (max-width: 1150px) {
  .products__inner-box .product__item {
    flex-basis: calc(50% - 30px);
  }
  .product__item-img {
    min-height: 225px;
  }
}
@media (max-width: 1200px) {
  .withdrawals__inner {
    display: block;
  }
  .withdrawals__col {
    max-width: 100%;
    margin-bottom: 20px;    
  }
  .withdrawal__item {
    max-width: 490px;
  }
  .contact__form-row {
    display: block;
  }
  .product-mini {
    max-width: 48%;
  }
  .product-one__inner {
    display: block;
    .aside__item {
      width: 100%;
    }
  }
  .product-one__content {
    max-width: 100%;
    margin-right: 0;
  }
  .product-one__images {
    max-width: 100%;
  }
  .products-page__inner {
    display: block;
    .aside__item {
      width: 100%;
    }
  }
  .products-page__aside {
    margin-right: 0;
  }
    
  
  .top-sellers {
    display: none;
  } 
}

@media (max-width: 1150px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__col-adress {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .header__text {
    display: none;
  }
}
@media (max-width: 1024px) {
  .settings__tabs {
    display: block;
  }
  .settings__tabs .setting__tabs-menu {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 950px) {
  .tutorial__inner {
    flex-wrap: wrap;
    margin-left: -20px;
  }
  .tutorial__item {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    padding: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .advantages__inner {
    display: block;
  }
  .advantages__item {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .products-slider__inner .product__item {
    max-width: 100%;
  }
  .products-slider .slick-dots {
    margin-top: 10px;
  }
  .products-slider {
    padding: 80px 0px 90px;
  }
  .products {
    padding: 100px 0px;
  } 
  .search {
    min-height: 430px;
  }
  .search__inner {
    padding: 115px 0px 100px;
  }
  .search__inner-title {
    font-size: 35px;
    line-height: 40px;
  }
  .search__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .products-page__inner .product__item {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .products-page__items {
    margin-left: -20px;
  }
  .product__item.list {
    flex-basis: 100%;
  }
  .footer__col-form {
    min-width: 100%;
    margin-top: 30px;
  }
  .footer__inner {
    justify-content: flex-start;
  }
  .footer__col-menu {
    & + & {
      margin-left: 40px;
    }
  }
  .page-404__404::after {
    bottom: 33px;
    width: 50px;
    height: 98px;
    background-size: cover;
    margin-left: 18px;
  }
  .contact__box {
    display: block;
  } 
  .contact__form input {
    width: 100%;
  }
  .profile__inner {
    flex-direction: column;
  }
  .profile__content {
    order: -1;
  }
  .profile__aside {
    max-width: 100%;
  }
  .aside__item {
    width: 100%;
  }
  .profile-mobile__box {
    display: flex;
  } 
  .author-mobile__box {
    max-width:270px;
    width: 100%;
  }
  .profile__aside-btn {
    width: 100%;
    margin-top: 22px;
  }
}
@media (max-width: 840px) {
  .author {
    min-height: 540px;
  }
  .icon-th-list {
    display: none;
  }
  .menu__btn {
    display: block;
    width: 30px;
    cursor: pointer;
    div {
      height: 3px;
      background-color: rgb(124, 116, 116);
      & + div {
        margin-top: 5px;
      }
    }
  }
  .header__menu .menu__list {
    display: none;
    background-color: $bg;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    padding-bottom: 30px;
    li {
      display: block;
      & + li {
        margin-left: 0px;
      }
      &:first-child {
        border-top: 1px solid #fff;
      }
    }
    a {
      display: block;
      padding: 10px 0px;
      border-bottom: 1px solid #fff;
    }
  }
  .upload__line {
    display: block;
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .upload__inner button {
    margin-left: 0px;
  }
}

@media (max-width: 760px) {
  .product-one__box {
    display: block;
  }
  .product-one__link {
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .products__inner-box .product__item {
    flex-basis: calc(100% - 30px);
    max-width: 100%;
  }
  .page-404__404 {
    font-size: 200px;
    line-height: 250px;
  }
  .page-404__title {
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .page-404__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .author__box {
    display: block;
    text-align: center;
    padding: 20px 10px;
  }
  .author__title {
    margin: 0px auto 30px;
  }
}
@media (max-width: 640px) {
  .tutorial {
    padding: 50px 0 100px;
  }
  .tutorial__item {
    flex-basis: 100%;
  }
  .products__inner-btn button{
    width: 100%;
    & + button {
      margin-left: 0px;
    }
  }
  .products-page__inner .product__item {
    flex-basis: calc(100%);
    max-width: 100%;
  }
  .notification__box,
  .message__box {
    display: none;
  }
  .circle__menu {
    left: auto;
  }
  .page-404__inner {
    padding: 50px 10px 80px;
  }
  .profile__banner-images {
    min-height: 260px;
  }
  .profile__items {
    display: block;
    .profile__item + .profile__item{
      border-left: none;
      border-top: 1px solid #dcdcdc;
    }
  }
}
@media (max-width: 620px) {
  .page__box {
    margin-bottom: 80px;
  }
  .page-box__content {
    padding: 30px 25px 50px;
    button { 
      margin-left: 0px;
    }
  }
  .page-box__title {
    padding: 18px 16px;
  }
  .settings__line {
    display: block;
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .product-one__tab-menu {
    display: block;
    .tab {
      display: block;
      & + .tab {
        border-left: none;
        border-top: 1px solid #d7d7d7;
      } 
    }
  }
  .product-mini {
    max-width: 100%;
  } 
}

@media (max-width: 600px) {
  .page-404__404 {
    font-size: 120px;
    line-height: 150px;
    max-width: 100%;
    &::after {
      bottom: 23px;
      margin-left: 7px;
    }
  }
  .page-404__title {
    line-height: 30px;
  }
  .page-404__wrapper,
  .about__wrapper,
  .contact__wrapper {
    margin-bottom: 80px;
  }
  .upload__inner {
    margin-bottom: 80px;
  }
  .upload__inner-title {
    padding: 20px 15px;
  }
  .upload__inner-content {
    padding: 0px 20px;
  }
  .upload__line {
    input,
    textarea {
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  .contact__inner {
    padding: 30px 20px 15px;
  }
  .contact__head {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    padding: 0px 8px;
  }
  .contact__map iframe {
    height: 300px;
  }
  .personal__box {
    padding: 35px 20px 30px;
    margin-bottom: 60px;
  }
  .profile-mobile__box {
    display: block;
  }
  .tab-item__list {
    column-count: 1;
  }
  .product-one__images {
    height: 300px;
  }
}
@media (max-width: 540px) {
  .login__wrapper button {
    width: 100%;
    margin-bottom: 10px;
  }
  .create-acc {
    width: 100%;
  }
  .footer__col {
    min-width: 100%;
  }
  .footer__col-menu {
    & + & {
      margin-left: 0px;
      margin-top: 30px;
    } 
  }
  .withdrawals__content {
    padding: 0px 10px;
  }
  .withdrawal__items {
    overflow-x: scroll;
  }
  .withdrawal__item {
    min-width: 490px;
  }
}
@media (max-width: 520px) {
  .wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .header__btn-menu {
    display: block;
    width: 70px;
    height: 70px;
    background-color: $bg;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: #fff;
    }
  }
  .header__box {
    transition: all .5s;
    position: absolute;
    background-color: #fff;
    height: 70px;
    left: 100%;
    right: -100%;
    z-index: 2;
    &.active {
      left: 68px;
      right: 90px;
    }
  }
  .header__logo {
    margin-left: 60px;
  }
  .menu__btn {
    position: absolute;
    top: 24px;
    div {
      background-color: $bg;
    }
  }
  .header__top-inner {
    height: 70px;
  }
  .circle__menu {
    top: 52px;
  }
  .header__menu .menu__list {
    top: 70px;
  }
  .user__menu {
    top: 59px;
  }
  .circle__menu {
    right: auto;
  } 
}


@media (max-width: 495px) {
  .user__info {
    display: none;
  }
  .user__images {
    margin-right: 0px;
  }
  .product-one__link a{
    width: 100%;
    margin-bottom: 10px;
    & + a {
      margin-left: 0;
    }
  }
}
@media (max-width: 400px) {
  .page-404__404 {
    padding-left: 0px;
  }
}
@media (max-width: 390px) {
  .header__box.active {
    left: 47px;
  }
  .basket__box {
    margin-left: 0px;
  }
  .menu__btn {
    left: 10px;
  }
  .withdrawals__title {
    font-size: 22px;
  }
  .page-404__head,
  .about__head,
  .contact__head {
    padding: 20px 14px;
  }
  .about__inner {
    padding: 0px 18px;
  }
  .products-slider .slick-dots li button {
    width: 13px;
    height: 13px;
  } 
}
@media (max-width: 360px) {
  .product__item-price {
    margin-left: 5px;
  }
  .rate-star {
    margin-right: 4px;
  } 
  .user {
    margin-right: 15px;
    padding-right: 15px;
  }
  .basket {
    margin-right: 15px;
  }
  .user__menu {
    top: 48px;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__btn-menu {
    display: block;
    width: 60px;
    height: 60px;
    &::before {
      font-size: 34px;
    }
  }
  .header__top-inner,
  .header__box {
    height: 60px;
  }
  .circle__menu {
    top: 43px;
    left: -20px;
  }
  .user__box {
    height: 60px;
    margin-top: 24px;
  }
  .basket__box,
  .notification__box,
  .message__box {
    margin-top: 29px;
    height: 60px;
  }
  .header__btn {
    width: 55px;
  }
  .menu__btn {
    top: 21px;
  }
  .contact__form button {
    width: 100%;
  }

}



@media (min-width: 841px) {
  .menu__list {
    display: block !important;
  }
}